<div class="container">
    <div class="form-container">
      <form [formGroup]="fg" (ngSubmit)="postData()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" formControlName="name" class="form-control" type="text" />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" class="form-control" type="email" />
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" class="form-control" type="password" />
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="fg.invalid">Register</button>
      </form>
  
      <button class="btn btn-link" (click)="toggleUsersList()">Show Registered Users</button>
  
      <div *ngIf="showUsers && users.length > 0">
        <h2>Registered Users</h2>
        <ul>
          <li *ngFor="let user of users">{{ user.name }} ({{ user.email }})</li>
        </ul>
      </div>
    </div>
  </div>
  